{% extends "layout.html" %} {% block body %}

<h1 class="secondary">Editar {{table}}</h1>

<div class='pane'>
    <form class="form" action="{{ url_for('edit'+table,id=id)}}" method='post' enctype="multipart/form-data">
        <div class="form__grid">
            <div class="form__grid__content">

                {{editing.name}}
                <dl>
                    {% for field in fields %}
                    {% if field[0]=="input" %}
                    <dt class="form__label">{{field[1]}}</dt>
                    <dd>
                        <input class="form__input" type='text' size='30' value="{{field[4]}}" name='{{field[2]}}'
                            {{field[3]}}>
                    </dd>
                    {% endif %}
                    {% if field[0]=="textarea" %}
                    <dt class="form__label">{{field[1]}}</dt>
                    <dd>
                        <textarea class="form__input" name='{{field[2]}}' rows='5' cols='40' >{{field[3]}}</textarea>
                    </dd>
                    {% endif %}
                    {% if field[0]=="file" %}
                    <dt class="form__label">Selecione um novo arquivo:</dt>
                    <dd>
                        <input class="form__input" type='file' name='{{field[2]}}'>
                    </dd>
                    {% endif %}

                    {% endfor%}
                </dl>
            </div>
            {% for field in fields %}
            {% if field[0]=="file" %}
                    <div class="form__grid__taxonomy">
                        <img src="{{ url_for('uploaded_file', filename=field[4])}}" name='{{field[2]}}' class="responsive-img" />
                    </div>
                {% endif %}
            {% endfor %}
            {% if taxonomies %}
            <div class="form__grid__taxonomy">
                <dl>
                    {% for taxonomy in taxonomies %}
                    {% if taxonomy[0]=="select" %}
                    <dt class="form__label">{{taxonomy[1]}}</dt>
                    <dd>
                        <select class="form__select" name="{{taxonomy[2]}}" id="{{taxonomy[2]}}_select">
                            {% for tax in taxonomy[3] %}
                            <option value="{{tax.id}}" {% if tax.id==editing[taxonomy[2]] %}selected{% endif %}>{{tax.nome}}</option>
                            {% endfor %}
                        </select>

                    </dd>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if checkboxes %}
                    <div class="form__grid__taxonomy__checkbox">

                        {% for checkbox in checkboxes %}
                        <h3 class="form__label">{{checkbox[0]}}</h3>
                        {% for check in checkbox[1] %}
                        <label>
                            <input class="btn btn--primary" type="checkbox" name="{{checkbox[0]}}" value="{{check.id}}"
                                {% for selected in checkbox[2] %}{% if check.id==selected.id %}checked{%endif%}{%
                                endfor %}>

                            {% if check.nome %}
                            <p>{{check.nome}}</p>
                            {% else %}
                            <p>{{check.caminho}}</p>
                            {% endif %}
                        </label>
                        {% endfor %}
                    </div>
                    {% endfor %}
            </div>
            {% endif %}
            {% if fotos %}
            <div class="form__grid__images">
                <h3 class="form__label">Foto em destaque:</h3>

                <div class="form__grid__images__option">
                {% for foto in fotos[1] %}
                    <label>
                        <input class="btn btn--primary" type="radio" name="{{fotos[0]}}" class="fotos__item" value="{{foto['id']}}"
                            {% if foto.id==fotos[2] %}checked{% endif %}>
                        <img src="{{ url_for('uploaded_file', filename=foto['caminho'])}}" width="250px">
                    </label>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="form__grid__action">
                <input class="btn btn--primary" type='submit' value='Salvar'>
                <a class="btn btn--white" href='{{url_for('list'+table)}}'> Voltar sem Salvar </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}